$def with(page)
<!--
The Code was made by Yeashape Software.The Author is QiWei.
Our website is www.itdiffer.com.The Email is it@itdiffer.com
This is the base page.
-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>易水禾研修系统</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" charset="utf-8"/>
<script src="/static/js/jquery-1.10.1.min.js" ></script>
<link rel="stylesheet" type="text/css" href="/static/uploadify/uploadify.css">
</head>

<body>
<header>
<div id="container">
<p>本系统是<a href="http://www.itdiffer.com/doc-view-617.html" target="_blank">智能视频虚拟切片和摘要技术</a>在课堂教学研究上的应用</p>
<img src="/static/vlogo.png"/>
</div>
</header>
<div id="container">$:page</div>

<footer>
<div>
<br/>
<hr>
<p>
<span>Copyright © <a href="http://www.itdiffer.com" target="_blank">苏州易水禾软件有限公司</a>&nbsp;&nbsp;</span>
<span>E-mail：it@itdiffer.com</span>
</p>
</div>
</footer>

</body>
</html>
