$def with(page)
<!DOCTYPE HTML>

<html>
<head>
<meta charset="utf-8">
<title>易水禾研修系统</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" charset="utf-8"/>
<script src="/static/js/jquery-1.10.1.min.js" ></script>

<link rel="stylesheet" type="text/css" href="/static/uploadify/uploadify.css">

</head>

<body>
<header>
<div id="container">
<p>课堂，是教师的舞台；研究优质课，博采众长，精彩教育。</p>
<img src="/static/vlogo.png"/>
</div>
</header>
<div id="container">$:page</div>

<footer>
<div>
<br/>
<hr>
<p>
<span>支持单位：<a href="http://www.itdiffer.com">苏州易水禾软件有限公司</a>&nbsp;&nbsp;</span>
<span>服务邮件：it@itdiffer.com</span>
</p>
</div>
</footer>
</body>
</html>
