$def with(tell_user)
<div>
<p class="fonttype3">$tell_user</div>
</div>
<div class="text1">
<p class="fonttype2">可能：</p>
<ul>
<li>上传视频课程的时候，应该上传扩展名为ogv格式的文件，你上传了其它类型的文件。之所以上传这个，主要是因为这个文件是开源的格式类型，本系统在应用中不至于侵犯mp4等非开源格式文件的版权。尊重知识产权，特别是教育者。因此你要将文件其它格式的文件转化为ogv格式。这里有转换方法....</li>
<li>网络连接错误，这要由贵单位的网管来负责解决了。</li>
<li>其它没有列出来的错误</li>
</ul>
<p class="fonttype2">解决方法：</p>
<p class="fonttype4">退出，从新登录，再操作一遍，如果还这样，马上让贵单位的技术高手来协助，别浪费时间。</p>
<p class="fonttype4">还可以向本系统支持者寻求帮助，联系方法见本页最末端。</p>　
</div>
<div>
<input type="button" class="button1" value="返回首页" id="gohome" name="gohome" onclick="location='/'"/>
</div>


