$def with(tell_user)
<br/>
<div>
<table class='table1'>
<tr>
<td>
<img src="/static/onepic.png" width='218px' height='248px'>
</td>
<td>
<p class="fonttype1">如果您没有得到用户名和密码，请与相关管理人员联系。</p>
<form>
<p><span class="fonttype2">用户名：</span><input type="text" class="input1" id="username" name="username"/></p>
<p><span class="fonttype2">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input type="password" class="input1" id="userpwd" name="userpwd"/></p>
<p><input class="button1" type="button" value="确定" id="login"/></p>
<p><span class="error"></span></p>
</form>
</td>
</tr>
</table>


</div>
<div>
<br/>
<p class="text1">观摩分析优质课，是实现教师发展的重要方式。《优质课研修辅助系统》就是协助教师通过深入研究优质课，从中吸取教学经验，内化入教学实践。</p>
<ul class="text2">
    <li>教研员主导优质课的分析过程。解剖一堂优质课，深入研究教学艺术。</li>
    <li>教师通过网络研修。多样化的研修方式，促进教师成长。</li>
    <li>对各个教学环节的深入探究。一堂优质课为什么是好课？好在哪里里？</li>
    <li>观摩和互动结合。从优质课中，得到了哪些启示？有什么收获？可以在哪些方面再改进</li>
</ul>
<p class="text1">
借助《优质课研修辅助系统》，可以实现“精细化教研”，让每个参与者都能受益，实现教师专业发展，提升教学能力。
</p>
</div>
<div>
<p class="fonttype3">本系统推荐使用Fireforx浏览器，这是地球上最好的浏览器（没有之一），<a href="http://www.firefox.com.cn/" target="_blank">点击这里下载。</a></p>
<p class="fonttype2">如果您执意使用其它的浏览器，不保证能够顺利享用本系统提供的功能。</p>
</div>
<script src="/static/js/login.js" ></script>
