$def with(username)
<div id="top_column">
<span><a href="/study/$username">首页</a></span>&nbsp;|&nbsp;
<span><a href="/study_manage_video/$username">管理课程</a></span>&nbsp;|&nbsp;
<span><a href="/research/$username">在线研修</a></span>&nbsp;|&nbsp;
<span><a href="/logout/$username">退出</a></span>
</div>

<div class="text1">
<p class="fonttype2">$username&nbsp;&nbsp;教研员</p>
<p><span class="fonttype5">在使用本系统之前，请首先阅读<a href="http://www.itdiffer.com/doc-view-632.html" target='_blank'>使用帮助</a>，特别是管理员要负责上传或者给教研员提供上传视频的通道。</span></p>
<p>您可以在这里修改密码。注意：密码必须是由字母或者数字组成的3-20位长度的字符串。</p>
</div>

<div>
<form>
<p><input type="text" value="$username" id="username" style="display:none"/>
<p><span class="fonttype2">新的密码：</span><input class="input1" type="text" id="newpassword" /></p>
<p><span class="fonttype2">确认输入：</span><input class="input1" type="text" id="renewpassword"/></p>
<p><input type="button" value="修改密码" class="button1" id="oknewpassword"/></p>
<p><span class="error"></span></p>
</form>
</div>

<div class="text1">
<p class="fonttype1">教研员使用说明：</p>
<p><span class="fonttype5">１、选择优质课视频。</span>按照管理员指定的方法上传视频文件，或者将视频文件发送给管理员，由管理员上传。<span class="fonttype2">特别注意：</span>本系统只允许上传扩展名为.ogv格式的视频文件，如果您的视频课程文件不是这个扩展名，请进行转化。在<a href="http://www.itdiffer.com/doc-view-632.html">使用帮助中查看转化方法</a>。当然，或许这个工作管理员会帮助您完成。</p>
<p><span class="fonttype5">２、对视频虚拟切片</span>。在“管理课程”中实现。可以通过简单操作，将优质课视频分解为若干片段，并为每个片段命名。指导教师对视频中的每个片段进行研修。</p>
<p><span class="fonttype5">３、开展研修。</span>在“在线研修”中实现。与其他用户一起研修优质课。</p>
</div>

<script src="/static/js/study.js" ></script>
